.App {
  margin: 1rem;
  height: 100%;
}

.workline-content {
  display: flex;
  align-items: center;
  width: auto;
  flex-direction: column;
  font-size: 18px;
}

.header {
  color: #444;
  margin: 0 auto;
  letter-spacing: .5px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  color: #1e90ff;
}

.form {
  width: 40%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  display: block;
  height: 30px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #aaa; 
  font-size: 16px;
}

.form-input:hover {
  box-shadow: 0 0 10px #aaa;
}

.btn-enter {
  width: 50%;
  height: 40px;
  padding: 10px;
  border-width: 0;
  display: block;
  margin: 25px 0;
  background: #444;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
}

.btn-enter:hover {
  cursor: pointer;
  background: #777;
}