.User__list {
    font-size: 16px;
}

.User__header {
    font-size: 30px;
    font-weight: normal;
    color: #555;
}


.User__item-done {
    color: green;
}

.User__item-processing {
    color: rgb(42, 42, 42);
    font-weight: 630;
}

.User__item-closed {
    color: gray;
}
